# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# Machine Learning
# =========================

models/
*.pkl
*.pickle
*.joblib
*.h5
*.keras

# =========================
# Data
# =========================

data/raw/*
data/processed/*

# =========================
# IDE / Editors
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================
# =========================
# Virtual Environment
# =========================

.venv/

.DS_Store
Thumbs.db